.gradient-blinds-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* .gradient-blinds-container.fade-bottom {
	mask-image: linear-gradient(to bottom,
			rgba(0, 0, 0, 1) 25%,
			rgba(0, 0, 0, 0) 100%);
	-webkit-mask-image: linear-gradient(to bottom,
			rgba(0, 0, 0, 1) 25%,
			rgba(0, 0, 0, 0) 100%);
} */